[totala]
watching=2
mapmode=2
location=2
cheats=1
los=1
deathopt=2
metal=1000
energy=1000
lockOptions={lockoptions}
playerlimit={playerlimit}
pfs=0
session={session}
provider=TAForever
mission={mission}
timelimit=0
registeredonly=0
tournment=1
tournament=1
